@import "tailwindcss";

:root {
  /* Define custom color variables */
  --color-primary: #4f46e5; /* Indigo */
  --color-secondary: #10b981; /* Emerald */
  --color-accent: #f59e0b; /* Amber */
  --color-neutral: #1f2937; /* Gray */
  --color-background: #dfdff0; /* Background Color */
}

body {
  font-family: 'General Sans', sans-serif;
  width: 100dvw;
  background-color: var(--color-background);
  overflow-x: hidden;
}

@layer utilities {
  /* Custom font utilities */
  .font-circular-web {
    @apply font-sans;
    font-family: 'circular-web', sans-serif;
  }
  .font-general-sans {
    @apply font-sans;
    font-family: 'General Sans', sans-serif;
  }
  .font-robert-medium {
    @apply font-sans;
    font-family: 'Robert', sans-serif;
    font-weight: 500;
  }
  .font-robert-regular {
    @apply font-sans;
    font-family: 'Robert', sans-serif;
    font-weight: 400;
  }

  /* Custom color utilities */
  .bg-primary {
    background-color: var(--color-primary);
  }
  .text-primary {
    color: var(--color-primary);
  }
  .border-primary {
    border-color: var(--color-primary);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .border-secondary {
    border-color: var(--color-secondary);
  }

  .bg-accent {
    background-color: var(--color-accent);
  }
  .text-accent {
    color: var(--color-accent);
  }
  .border-accent {
    border-color: var(--color-accent);
  }

  .bg-neutral {
    background-color: var(--color-neutral);
  }
  .text-neutral {
    color: var(--color-neutral);
  }
  .border-neutral {
    border-color: var(--color-neutral);
  }

  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
  }

}

@layer base {
    @font-face {
        font-family: 'circular-web';
        src: url(/fonts/circularweb-book.woff2) format('woff2');
    }

    @font-face {
        font-family: 'general' ;
        src: url(/fonts/general.woff2) format('woff2');
    }

    @font-face {
        font-family: 'robert-medium';
        src: url(/fonts/robert-medium.woff2) format('woff2');
    }

    @font-face {
        font-family: 'robert-regular';
        src: url(/fonts/robert-regular.woff2) format('woff2');
    }


}